<h1 class="display-1">About</h1>
<p>This web site was build by Amit Livne and Eliran Nachmani
    <br> We are two students at the deparment of Software and Information Systems Engineering <br>
    <br> This application contains a server side using nodeJS and SQL server and a client side using AngularJS.

    <br> <strong>We are thrilled to show you our previous websites:</strong><br>
</p>



<h3 class="display-3">Eliran's website</h3>
<span><a href="https://nachmani-eliran.000webhostapp.com" target="_blank">Eliran's website</a></span>
<br>
<br>
<h3 class="display-3">Amit's website</h3>
<span><a href="http://livneam.site88.net/" target="_blank">Amit's website</a></span>
<br>
<br>
<h3 class="display-3">Previous work together - Pacman game</h3>
<span><a href="http://pacman-amit-eliran.000webhostapp.com/" target="_blank">Pacman game</a></span>