<div style="display: table; margin: auto;">
    <span class="step step_complete"> <a href="" ng-click="ordersSelf.backToCtalog()" class="check-bc">Back to Catalog</a> <span class="step_line step_complete"> </span> <span class="step_line backline"> </span> </span>

    <div class="row">
        <p></p>
    </div>
</div>
<div class="container">
    <h1>Open and Recently Shipped Orders</h1>
    <div>

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <table id="cart" class="table table-hover table-condensed">

                <thead>
                    <tr>
                        <th style="width:15%">Order id</th>
                        <th style="width:20%">Order date</th>
                        <th style="width:20%">Shipment date</th>
                        <th style="width:15%">Currency</th>
                        <th style="width:20%" class="text-center">Total Amount</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-hide="orderSelf.empty" ng-repeat="order in ordersSelf.allOrders">
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-7">
                                    <a href="" ng-click="ordersSelf.clickToOpen(order.orderID)"> {{order.orderID}}</a>
                                </div>

                            </div>
                        </td>

                        <td data-th="Price">{{order.orderDate}}</td>

                        <td data-th="Price">{{order.shipmentDate}}</td>

                        <td data-th="Subtotal" class="text-center">{{order.currency}}</td>

                        <td data-th="Subtotal" class="text-center">{{order.totalAmount}}</td>
                    </tr>
                    <tr ng-show="orders.empty">
                        <td>
                            <h2>You don't have a orders yet</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--jumbotron end-->
    </div>

    <!--container end-->
</div>