<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div style="display: table; margin: auto;">
    <span class="step step_complete"> <a href="#/orders"  class="check-bc">Orders History</a> <span class="step_line step_complete"> </span>    <span class="step_line backline"> </span> </span>

</div>

<div class="container">
    <h1>Your Cart:</h1>
    <div>

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <table id="cart" class="table table-hover table-condensed" ng-hide="cartSelf.empty">

                <thead>
                    <tr>
                        <th style="width:50%">Product</th>
                        <th style="width:10%">Price</th>
                        <th style="width:8%">Quantity</th>
                        <th style="width:22%" class="text-center">Subtotal</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-show="cartSelf.show" ng-repeat="product in cartSelf.cartProducts">
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-5"><img ng-src="{{cartSelf.baseUrl + product.image}}" alt="..." class="img-responsive"  ng-click="cartSelf.showProduct(product.gameName)" onclick="document.getElementById('id02').style.display='block';"/></div>
                                <div class="col-sm-7">
                                    <h4 class="nomargin">{{product.gameName}}</h4>
                                    <div class="col-sm-7">
                                        <h4 class="nomargin">{{product.publisher}}</h4>
                                    </div>
                                </div>

                            </div>
                        </td>

                        <td data-th="Price">{{product.price}} $</td>

                        <td data-th="Quantity">
                            <input type="number" min="1" max="5" ng-model="product.quantity" class="form-control text-center" ng-value="{{product.amountInCart}}">
                        </td>

                        <td data-th="Subtotal" class="text-center">{{product.amountInCart * product.price}} $</td>

                        <td class="actions" data-th="">
                            <button class="btn btn-info btn-sm" ng-click="cartSelf.refresh(product);"><i class="fa fa-refresh"></i></button>
                            <button class="btn btn-danger btn-sm" ng-click="cartSelf.delete(product)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>

                </tbody>

                <tfoot>
                    <tr class="visible-xs">
                        <td class="text-center"><strong>Total: {{cartSelf.total}} $ </strong></td>
                    </tr>
                    <tr>
                        <td><a ng-click="cartSelf.navigateTo('catalog')" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong>Total: {{cartSelf.total}} $ </strong></td>
                        <td ng-show="cartSelf.show"> <a ng-click="cartSelf.navigateTo('pay')" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a>
                        </td>
                    </tr>
                </tfoot>
            </table>


            <h2 ng-show="cartSelf.empty">The cart is empty...</h2>

        </div>

        <!--jumbotron end-->
    </div>

    <!--container end-->
</div>

   <!--MODAL--> 
  <div id="id02" class="w3-modal">
    <div class="w3-modal-content" style="padding: 40px">
      <div class="w3-container">
        
        <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <img class="details" ng-src="{{cartSelf.baseUrl + cartSelf.detailedGame.picPath}} ">
        <br><br><br><br>
        <h2>Game Name: {{cartSelf.detailedGame.gameName}}</h2>
        <br>
        <h4>Description: {{cartSelf.detailedGame.description}}</h4>
        <h4>Publisher: {{cartSelf.detailedGame.publisher}}</h4>
        <h4>Price: {{cartSelf.detailedGame.price}}$</h4>
        <h4>Category: {{cartSelf.detailedGame.category}}</h4>        
        
        
      </div>
    </div>
  </div>