<div ng-show="orderDetails.show">
    <!--REVIEW ORDER-->
    <div class="panel panel-info">
        <div class="panel-heading">
            Order ID: {{orderDetails.orderID}}
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div ng-repeat="product in orderDetails.order">
                    <div class="col-sm-6 col-xs-6">
                        <div class="col-xs-12">{{product.gameName}}</div>
                    </div>
                    <div class="col-sm-3 col-xs-3 text-right">
                        <div class="col-xs-12">Quantity: <span> {{product.amount}}</span></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <hr />
            </div>
        </div>
    </div>
    <!--REVIEW ORDER END-->
</div>