<div class="container">

    <span ng-class="login.message.class">
    </span>
    <form class="form-signin" ng-submit="login.submit()">
        <h2 class="form-signin-heading">Log In To Server</h2>
        <label for="inputUserName" class="sr-only">User Name</label>
        <input ng-model="login.inputUserName" type="text" id="inputUserName" class="form-control" placeholder="User Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="login.inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input ng-model="login.remember" type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>

        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#recover">Recover password</button>
        <div id="recover" class="collapse">
            <label> password recovery </label>
            <input ng-model="login.recoverUserName" type="text" id="inputUserNameRec" class="form-control" placeholder="recover user name">
            <input ng-model="login.ans1" type="text" id="ans1" class="form-control" placeholder="answer to what is your favourite animal">
            <input ng-model="login.ans2" type="text" id="ans2" class="form-control" placeholder="answer to what is your favourite city">
            <label ng-show="login.recPass"> recovered password: </label>
            <input ng-model="login.recPass" type="text" id="recpass" class="form-control" ng-show="login.recPass">
            <input type="submit" class="btn btn-danger" value="recover password" ng-click="login.recoverPass()">
        </div>

    </form>
</div>