<h2>Register:</h2>

<form name="userForm" ng-submit="registerCtrl.submitForm(userForm.$valid)" novalidate>

    <!-- username field -->
    <div class="form-group">
        <label>Username</label>
        <input type="text" name="userName" class="form-control" ng-model="registerCtrl.user.userName" ng-minlength="3" ng-maxlength="8"
            ng-pattern="/^[a-zA-Z\s]*$/" ; required autofocus>

    </div>

    <!-- password field -->
    <div class="form-group">
        <label>Password </label>
        <input type="password" name="password" class="form-control" ng-model="registerCtrl.user.password" ng-minlength="5" ng-maxlength="10"
            ng-pattern='/^[a-zA-Z0-9]*$/' ; required autofocus>
        <label>Re type password</label>
        <input type="password" name="re_password" class="form-control" ng-model="registerCtrl.user.re_password" ng-minlength="5"
            ng-maxlength="10" ng-pattern='/^[a-zA-Z0-9]*$/' ; required autofocus>

    </div>

    <!-- Security field -->
    <div class="form-group">
        <label>Security Q1 - What is you fav animal</label>
        <input type="text" name="q1" class="form-control" ng-model="registerCtrl.user.firstQ" ; required autofocus>
        <label>Security Q2 - What is you fav city</label>
        <input type="text" name="q2" class="form-control" ng-model="registerCtrl.user.secondQ" ; required autofocus>
    </div>

    <!-- Genre -->
    <select class="C" ng-model="registerCtrl.user.faveGenre1" ng-options="genre as genre for genre in registerCtrl.genres" required autofocus>
    <option value="">Favorite genre of PC-Games 1</option>
    </select>
    <select class="C" ng-model="registerCtrl.user.faveGenre2" ng-options="genre as genre for genre in registerCtrl.genres" required autofocus>
    <option value="">Favorite genre of PC-Games 2</option>
    </select>

    <!-- country -->
    <div class="form-group">
        <label>Choose country:</label>
        <select ng-model="registerCtrl.user.country" ng-options='country as country for country in registerCtrl.countries' name="country"
            required autofocus></select>

    </div>

    <!-- fields field -->
    <br><br>
    <h2>Additional Fields For Regestration</h2>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="firstName" class="form-control" ng-model="registerCtrl.user.firstName" ; required autofocus>
        <label>Last Name</label>
        <input type="text" name="lastName" class="form-control" ng-model="registerCtrl.user.lastName" ; required autofocus>
        <label>Address</label>
        <input type="text" name="Address" class="form-control" ng-model="registerCtrl.user.address" ; required autofocus>
        <label>Phone</label>
        <input type="text" name="Phone" class="form-control" ng-model="registerCtrl.user.phone" ; required autofocus>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-danger" value="Submit" ng-click="registerCtrl.reg()">
    </div>

</form>