<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Games Store</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="gameStoreApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#/">Games Store</a>
                </div>

                <div class="collapse navbar-collapse" id="js-navbar-collapse">

                    <!-- All Menu Components -->

                    <ul class="nav navbar-nav">
                        <li ng-repeat="item in menu" ng-class="{active: item.route == '#' + menuActive}" ng-if="item.roles.includes(user.role)">
                            <a href="{{::item.route}}">{{item.label}}</a>
                        </li>
                    </ul>

                    <!-- Hello Dropdown -->

                    <!--TODO: (ng-if is connected) -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{user.userName}} <span class="caret" ng-if="user.isConnected"></span></a>
                            <ul class="dropdown-menu" ng-if="user.isConnected">
                                <!-- TODO - actions for user: view my profile.. etc -->
                                <li><a>TODO - actions for user</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- TODO: change 'active' on route change event -->
                    <!--<li ng-class="'active'"><a href="#/">Home</a></li>-->

                    <!--<li><a ng-href="#/about">About</a></li>-->

                    <!--TODO: (ng-if not connected)-->
                    <!--<li><a ng-href="#/login">Login</a></li>-->

                    <!--TODO: cart component (ng-if connected)-->
                    <!--<li><a>Cart</a></li>-->

                    <!--TODO: for all (but some of it will be ng-if connected)-->
                    <!--<li><a>Catalog</a></li>-->

                    <!--TODO: Admin Dropdown (ng-if admin)-->

                    <!--TODO: Hello Dropdown (ng-if connected)-->

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-view=""></div>
    </div>

    <div class="footer">
        <div class="container">
            <p>
                Developers:
                <ui>
                    <li>Eliran Nachmani</li>
                    <li>Amit Livne</li>
                </ui>
            </p>
        </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        ! function(A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="app.js"></script>
    <script src="components/main/main.js"></script>
    <script src="components/about/about.js"></script>
    <script src="providers/auth.js"></script>
    <script src="providers/commonhttp.js"></script>
    <script src="components/login/login.js"></script>
    <script src="providers/session.js"></script>
    <script src="providers/cart.js"></script>
    <script src="providers/products.js"></script>
    <script src="providers/orders.js"></script>
    <script src="providers/clients.js"></script>
    <script src="components/clientsManagement/clientsManagement.js"></script>
    <script src="components/ordersManagement/ordersManagement.js"></script>
    <script src="components/inventory/inventory.js"></script>
    <script src="components/catalog/catalog.js"></script>
    <script src="components/register/register.js"></script>
    <script src="components/register/registerService.js"></script>
    <script src="components/cart/cart.js"></script>
    <script src="components/bill/bill.js"></script>
    <script src="components/orders/orders.js"></script>

    <!--<script src="components/orderDetails/orderDetails.js"></script>-->
    <!-- endbuild -->
</body>

</html>