
<h2>This is the catalog view.</h2>
<div class="content">  
      <button ng-click="order= 'gameName' ">order by name</button>
      <button ng-click="order= 'category'">order by category</button>
      <button ng-click="order= 'publisher'">order by publisher</button>
      <br><br>
      <label>Filters: </label>
    <input type="text" ng-model="search" placeholder="search for a game">
    <input type="text" ng-model="searchCategory" placeholder="search for a category">
    <ul id="game-list">
      <li ng-repeat="game in catalog.games | orderBy: order | filter: {gameName : search , category : searchCategory}">                
        <img class="details" ng-src="{{catalog.baseUrl + game.picPath}}" style="margin: -12px 10px 0 0; float:left ;width:50px;"
             ng-click="gameDetails(game)"/>             
        <h3>{{game.gameName}} , By: {{game.publisher}}</h3>        
        <span class="price">{{game.category}}, {{game.price | currency}}</span>
      </li>
    </ul>
</div>

<h2>Recommandation for you:</h2>
<div class="content">
    <ul id="game-list">
      <li  ng-repeat="rec in catalog.Recgames">
        <img class="details" ng-src="{{catalog.baseUrl + rec.picPath}}" style="margin: -12px 10px 0 0; float:left ;width:50px;"
             ng-click="gameDetails(rec)"/>
        <h3>{{rec.gameName}}, By:{{rec.publisher}}</h3>
        <span class="price">{{rec.price | currency}}</span>
      </li>
    </ul>
</div>